*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container2{
	width: 500px;
	padding: 30px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: transparent;
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: rgb(5, 156, 250);
	color: white;
	width: 440px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: #080587;
}
.container {
	width: 500px; /* Adjust container width as needed */
	margin: 0 auto; /* Center container horizontally */
}
.container form div {
	display: flex; /* Use flexbox to align items */
	align-items: auto; /* Center items vertically */
	margin-bottom: auto; /* Add margin between divs */
}
.container form div select, 
.container form div input[type="tel"] {
	width: calc(20% - 5px); /* Adjust width to take up 50% of the container width */
	height: 45px; /* Adjust height as needed */
}
.container form div select {
	margin-right: 10px; /* Add some spacing between select and input */
}
.container form div input[type="text"] {
	flex: 1; /* Take up remaining space */
}
.container form div input[type="text"] + input[type="text"] {
	margin-left: 10px; /* Add margin between input fields */
}
